<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url(https://www.itl.cat/pngfile/big/305-3056743_aerial-background-blog-cafe-camera-casual-coffee-blog.jpg);height:200px;background-repeat: no-repeat;background-size:cover; height:100px;">
    
    <div>
        <h1 style="color:black;padding-top:300px;padding-left:600px;font-family: cooper; font-weight: bolder;font-size:60px">Publish your Passions,</h1>
        <h1 style="color:black;;padding-left:800px;font-family: cooper; font-weight: bolder;font-size:60px">Your Way</h1>
        <h4 style="color:black;padding-top:05x;padding-left:560px;font-family: cursive;font-weight: bolder;">Bring your ideas to life by writing and managing your blog whenever inspiration strikes, on your desktop or on the go.</h5>
    </div>

    
<div style="padding-top:40px; padding-left:530px">
    <a href="/get" class="btn btn-dark" style="color:whitesmoke;font-family: sans-serif;">Welcome to Our Page </a>
</div>
</body>
</html>